{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "html_head.html" %}
  </head>
  <body>
    <div class="container-scroller">
      
       {% include "patient_sidebar.html" %}
        <div class="main-panel">
          <div class="content-wrapper">
          
            <div class="row">
              <div class="col-sm-12">
                 <div class="card">
                  <div class="card-body">
                      <span class="badge badge-danger mb-2" style="font-size : 20px">Doctor Name</span> 
               
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium voluptas soluta eligendi, in, natus delectus perferendis incidunt excepturi impedit error eum explicabo sequi labore quam sint quae quasi vero esse!</p>
                      <h6 class="card-text"> <a href="#" class="text-dark text-decoration-none">
                      <i class="mdi mdi-account-multiple-plus mdi-20px text-danger mr-2" id="follow"></i> Follow</a> <span class="mr-2 text-danger">19</span>  <i class="mdi mdi-trophy-variant-outline" id="badge" style="color:#FFDF00	;"></i> Bhroze</a> 
                     </h6>

                    
    

                    
            </div><!-- end card body-->
          </div><!-- end card-->
            </div><!--col sidebar end-->

            <div class="col-sm-12 mt-4">
                 <div class="card">
                  <div class="card-body">
                      <span class="badge badge-dark mb-4" style="font-size : 15px">Experience or Tips Post</span> 
               
                      <ul class="list-arrow">
                      
                        <li><a href="" style="text-decoration : none;" class="text-dark">Lorem Lorem Lorem Lorem  </a><span class="badge badge-danger mb-4 float-right">Disease</span> </li>
                         <hr>

                          <li><a href="" style="text-decoration : none;" class="text-dark">Lorem Lorem Lorem Lorem  </a><span class="badge badge-danger mb-4 float-right">Disease</span> </li>
                         <hr>

                          <li><a href="" style="text-decoration : none;" class="text-dark">Lorem Lorem Lorem Lorem  </a><span class="badge badge-danger mb-4 float-right">Disease</span> </li>
                         <hr>

                          <li><a href="" style="text-decoration : none;" class="text-dark">Lorem Lorem Lorem Lorem  </a><span class="badge badge-danger mb-4 float-right">Disease</span> </li>
                         <hr>
                      
                       
                      </ul>
                    
    

                    
            </div><!-- end card body-->
          </div><!-- end card-->
            </div><!--col sidebar end-->

                <div class="col-sm-12 mt-4">
                 <div class="card">
                  <div class="card-body">
                      <span class="badge badge-dark mb-4" style="font-size : 15px">Given Answers</span> 
               
                      <ul class="list-arrow">
                      
                        <li><a href="" style="text-decoration : none;" class="text-dark">Lorem Lorem Lorem Lorem  </a><span class="badge badge-danger mb-4 float-right">Disease</span> </li>
                         <hr>

                          <li><a href="" style="text-decoration : none;" class="text-dark">Lorem Lorem Lorem Lorem  </a><span class="badge badge-danger mb-4 float-right">Disease</span> </li>
                         <hr>

                          <li><a href="" style="text-decoration : none;" class="text-dark">Lorem Lorem Lorem Lorem  </a><span class="badge badge-danger mb-4 float-right">Disease</span> </li>
                         <hr>

                          <li><a href="" style="text-decoration : none;" class="text-dark">Lorem Lorem Lorem Lorem  </a><span class="badge badge-danger mb-4 float-right">Disease</span> </li>
                         <hr>
                      
                       
                      </ul>
                    
    

                    
            </div><!-- end card body-->
          </div><!-- end card-->
            </div><!--col sidebar end-->
            

          
            </div><!--row end->
           
          </div>
          <!-- content-wrapper ends -->
          {% include "footer.html" %}
  </body>
</html>