{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "html_head.html" %}
  
    
   
  </head>
  <body>
 
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      {% include "patient_sidebar.html" %}
        <div class="main-panel">
          <div class="content-wrapper">
          
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-format-list-bulleted-type"></i>
                </span> Watch List </h3>
            
            </div>
            <div class="row">
              <!-- Start Loop -->
             
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-primary card-img-holder text-white">
                  <div class="card-body">
                    
                    <h4 class="font-weight-normal mb-3 "><a href="#" class="text-white">Title</a></i></h4>
                    
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis minima excepturi similique rem officiis perferendis odio nesciunt optio alias itaque perspiciatis, sed autem repellendus aspernatur, animi facere iusto consequatur odit?</p>
                      <h6 class="card-text"><i class="mdi mdi-heart mdi-20px" id="likes"></i> 100
                     <i class="mdi mdi-eye mdi-20px ml-3" id="views"></i> 100 <button class="btn btn-danger btn-sm ml-3">Remove</button></h6>
                     
                    
                  </div>
                </div>
              </div>
              <!-- end Loop -->
              

              
            </div><!--row end-->
          </div>
          <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
           {% include "footer.html" %}
  </body>
</html>