{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "html_head.html" %}


</head>
<body>
<div class="container-scroller">

    {% include "patient_sidebar.html" %}
    <div class="main-panel">
        <div class="content-wrapper">
            <h3 class="page-title mb-4">
			               <span class="page-title-icon bg-gradient-primary text-white mr-2">
                          <i class="mdi mdi-format-list-bulleted"></i>
                        </span>List of Doctors</h3>
            <div class="row">

                {% for key,val in alldoc.items %}
                    <div class="col-sm-4 mb-3">
                        <div class="card">
                            <div class="card-body">

                                <a href="/doc_profile/{{ key }}" style="text-decoration : none ;"
                                   class="text-primary">
                                    <h4 class="mb-2">{{ val.name }}</h4></a>

                                <p>{{ val.bio }}</p>
                                <h6 class="card-text">
                                    <a href="/chatwithdoc/{{ dockey }}" class="text-dark text-decoration-none">
                                        <span class="badge badge-success">Chat</span></a>
                                    <span class="badge badge-danger float-right">{{ val.disease }}</span></h6>
                            </div><!-- end card body-->
                        </div><!-- end card-->


                    </div><!--col-12  end-->
                {% endfor %}

            </div>
        </div>
        <!-- content-wrapper ends -->
        {% include "footer.html" %}
</body>
</html>