{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "html_head.html" %}

    <script>
        var newTab = window.open('http://127.0.0.1:8000/opencam', '_blank');
        newTab.location;
    </script>
</head>
<body>
<div class="container-scroller">

    {% include "patient_sidebar.html" %}
    <div class="main-panel">
        <div class="content-wrapper">
            <h3 class="page-title mb-4">
			               <span class="page-title-icon bg-gradient-primary text-white mr-2">
                          <i class="mdi mdi-format-list-bulleted"></i>
                        </span>Games</h3>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <iframe src="https://scratch.mit.edu/projects/894243/embed" allowtransparency="true"
                                height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>

                    </div><!-- end card-->
                </div><!--col-6  end-->

                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <iframe src="https://scratch.mit.edu/projects/144487444/embed" allowtransparency="true"
                                height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>

                    </div><!-- end card-->
                </div><!--col-6  end-->

            </div>

            <div class="row">
                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <iframe src="https://scratch.mit.edu/projects/320633179/embed" allowtransparency="true"
                                height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>

                    </div><!-- end card-->
                </div><!--col-6  end-->

                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <iframe src="https://scratch.mit.edu/projects/368861164/embed" allowtransparency="true"
                                height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>

                    </div><!-- end card-->
                </div><!--col-6  end-->

            </div>

            <div class="row">
                <div class="col-sm-12 mb-3">
                    <div class="card">
                        <iframe src="https://scratch.mit.edu/projects/143646155/embed" allowtransparency="true"
                                height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>

                    </div><!-- end card-->
                </div><!--col-6  end-->


            </div>
        </div>
        <!-- content-wrapper ends -->
        {% include "footer.html" %}
</body>
</html>