{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "html_head.html" %}


</head>
<body>
<div class="container-scroller">

    {% include "patient_sidebar.html" %}
    <div class="main-panel">
        <div class="content-wrapper">
            <h3 class="page-title mb-4">
			               <span class="page-title-icon bg-gradient-primary text-white mr-2">
                          <i class="mdi mdi-format-list-bulleted"></i>
                        </span>Stress Relief and Meditation Videos</h3>
            <div class="row">
                <div class="col-sm-4 mb-3">
                    <div class="card">

                        <iframe src="https://www.youtube.com/embed/5ctbvkAMQO4"
                                frameborder="0"

                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                pyth                allowfullscreen></iframe>
                    </div><!-- end card-->
                </div><!--col-4  end-->

                <div class="col-sm-4 mb-3">
                    <div class="card">

                        <iframe src="https://www.youtube.com/embed/5ctbvkAMQO4"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div><!-- end card-->
                </div><!--col-4  end-->
                <div class="col-sm-4 mb-3">
                    <div class="card">

                        <iframe src="https://www.youtube.com/embed/5ctbvkAMQO4"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div><!-- end card-->
                </div><!--col-4  end-->

                <div class="col-sm-6 mb-3">
                    <div class="card">


                        <iframe src="https://scratch.mit.edu/projects/894243/embed" allowtransparency="true"  frameborder="0" scrolling="no" allowfullscreen></iframe>
                    </div><!-- end card-->
                </div><!--col-4  end-->
  <div class="col-sm-6 mb-3">
                    <div class="card">


                    <iframe src="https://scratch.mit.edu/projects/144487444/embed" allowtransparency="true"  frameborder="0" scrolling="no" allowfullscreen></iframe></div><!-- end card-->
                </div><!--col-4  end-->


            </div>

            <div  class="row"  >
                  <div class="col-sm-12">
                    <div class="card">


                     <iframe height="600"  src="https://scratch.mit.edu/projects/144487444/embed" allowtransparency="true"  frameborder="0" scrolling="no" allowfullscreen></iframe></div><!-- end card-->
                </div>

            </div>
        </div>
        <!-- content-wrapper ends -->
        {% include "footer.html" %}
</body>
</html>