{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "html_head.html" %}


</head>
<body>

<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include "patient_sidebar.html" %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-xl-12 order-xl-1">
                    <div class="card p-3">

                        <div class="card-header bg-white border-0 mt-2">
                            <div class="row align-items-center">
                                <div class="col-8 grid-margin stretch-card">
                                    <h3 class="page-title">
			                <span class="page-title-icon bg-gradient-primary text-white mr-2">
			                  <i class="mdi mdi-lightbulb"></i>
			                </span> Profile </h3>
                                </div>

                            </div>
                        </div>

                        <div class="card-body">
                            <form action="/savepatient_profile" method="POST">
                                {% csrf_token %}
                                <div class="pl-lg-4">
                                    <h6 class="heading-small text-muted mb-4">User Information</h6>
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">Name</label>
                                                <input type="text" name="pname" id="pname"
                                                       class="form-control form-control-alternative" placeholder="Name"
                                                       value="{{ user.name }}">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Email
                                                    address</label>
                                                <input type="text" name="email" id="email"
                                                       class="form-control form-control-alternative"
                                                       placeholder="name@example.com" value="{{ user.mail }}" disabled>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-contact">Contact</label>
                                                <input type="text" name="pcontact" id="pcontact"
                                                       class="form-control form-control-alternative"
                                                       placeholder="Enter contact" value="{{ user.phone }}" disabled>
                                            </div>
                                        </div>


                                    </div>
                                    <hr>
                                    <h6 class="heading-small text-muted mb-4">General Information</h6>
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="age">Age</label>
                                                <input type="number" name="age" id="age"
                                                       class="form-control form-control-alternative" placeholder="Age"
                                                       value="{{ user.age }}">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="height">Height</label>
                                                <input type="text" name="height" id="height"
                                                       class="form-control form-control-alternative"
                                                       placeholder="name@example.com" value="{{ user.height }}">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Gender</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="gender" id="gender">
                                                        <option value="{{ user.gender }}" selected hidden>
                                                            {% if user.gender %}
                                                                {{ user.gender }}
                                                            {% else %}
                                                                Choose Gender
                                                            {% endif %}
                                                        </option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Blood Group</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="blood" id="blood">
                                                        <option value="{{ user.blood }}" selected
                                                                hidden>
                                                            {% if user.blood %}
                                                                {{ user.blood }}
                                                            {% else %}
                                                                Choose Boold Group
                                                            {% endif %}
                                                        </option>
                                                        <option>A RhD positive (A+)</option>
                                                        <option>A RhD negative (A-)</option>
                                                        <option>B RhD positive (B+)</option>
                                                        <option>B RhD negative (B-)</option>
                                                        <option>O RhD positive (O+)</option>
                                                        <option>O RhD negative (O-)</option>
                                                        <option>AB RhD positive (AB+)</option>
                                                        <option>AB RhD negative (AB-)</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="Allergies">Allergies</label>
                                                <input type="text" name="allergies" id="allergies"
                                                       class="form-control form-control-alternative"
                                                       placeholder="Allergies" value="{{ user.allergies }}">
                                            </div>
                                        </div>


                                    </div>

                                    <hr>
                                    <h6 class="heading-small text-muted mb-4">Emergency Contact</h6>
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="name">Name</label>
                                                <input type="text" name="ename" id="ename"
                                                       class="form-control form-control-alternative" placeholder="Name"
                                                       value="{{ user.ename }}">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="contact">Contact No.</label>
                                                <input type="number" name="econtact" id="econtact"
                                                       class="form-control form-control-alternative"
                                                       placeholder="Contact No." value="{{ user.econtact }}">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="relation">Relation</label>
                                                <input type="text" name="relation" id="relation"
                                                       class="form-control form-control-alternative"
                                                       placeholder="Enter your Relation" value="{{ user.relation }}">
                                            </div>
                                        </div>


                                    </div>
                                    <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% include "footer.html" %}
</body>
</html>