{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "html_head.html" %}


</head>
<body>
<div class="container-scroller">

    {% include "patient_sidebar.html" %}
    <div class="main-panel">
        <div class="content-wrapper">
            <h3 class="page-title mb-4">
			               <span class="page-title-icon bg-gradient-primary text-white mr-2">
                          <i class="mdi mdi-format-list-bulleted"></i>
                        </span>{{ post.title }}</h3>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <span class="badge badge-success mb-2">{{ post.date }}</span>
                            <span class="badge badge-danger mb-2">{{ post.disease }}</span>

                            <p>{{ post.postdesc }}</p>


                            <h6 class="card-text"><i class="mdi mdi-heart mdi-20px text-danger"
                                                     id="likes"></i> {{ post.totallike }}
                                <i class="mdi mdi-eye mdi-20px ml-3" id="views"></i> {{ post.totalview }} <a
                                        href="whatsapp://send?text=The text to share!"
                                        data-action="share/whatsapp/share">
                                    <button class="btn btn-success btn-sm ml-3 float-right"><i
                                            class="mdi mdi-whatsapp mr-2"></i>Share
                                    </button>
                                </a></h6>


                        </div><!-- end card body-->
                    </div><!-- end card-->


                </div><!--col sidebar end-->


            </div><!--col sidebar end-->

        </div>
        <!-- content-wrapper ends -->
        {% include "footer.html" %}
</body>
</html>