{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "html_head.html" %}


</head>
<body>
<div class="container-scroller">

    {% include "patient_sidebar.html" %}
    <div class="main-panel">
        <div class="content-wrapper">
            <h3 class="page-title mb-4">
			               <span class="page-title-icon bg-gradient-primary text-white mr-2">
                          <i class="mdi mdi-format-list-bulleted"></i>
                        </span>{{ ques.question }}</h3>
            <div class="row">

                {% if ques.answer %}
                    {% for val in ques.answer %}

                        <div class="col-sm-12 mb-3">
                            <div class="card">
                                <div class="card-body">

                                    <a href="/doc_profile/{{val.docid}}" style="text-decoration : none;">
                                        <span class="badge badge-success mb-2">{{val.docname}}</span> </a><span
                                        class="mb-2"> : said</span>

                                    <p>{{ val.desc }}</p>

                                    <h6 class="card-text">
                                    </h6>
                                    <h6 class="card-text">
                                        <i class="mdi mdi-heart mdi-20px text-danger" id="likes"></i> 100 </span> <a
                                            href="#" class="text-dark text-decoration-none">
                                        <i class="mdi mdi-emoticon-neutral mdi-20px text-danger mr-2 ml-4" id="ok"></i>
                                        Ok</a> <a href="#" class="text-dark text-decoration-none">
                                        <i class="mdi mdi-emoticon mdi-20px text-danger mr-2 ml-4" id="Good"></i>
                                        Good</a> <a href="#" class="text-dark text-decoration-none">
                                        <i class="mdi mdi-emoticon-cool mdi-20px text-danger mr-2 ml-4"
                                           id="Excellent"></i> Excellent</a>
                                    </h6>
                                </div><!-- end card body-->
                            </div><!-- end card-->


                        </div><!--col sidebar end-->
                    {% endfor %}
                {% else %}
                    <div class="col-sm-12 mb-3">
                        <div class="card">
                            <div class="card-body">


                                <p>No Answer</p>


                            </div><!-- end card body-->
                        </div><!-- end card-->


                    </div>

                {% endif %}
            </div>
            <!-- content-wrapper ends -->
            {% include "footer.html" %}
</body>
</html>